body {
    width: 100vw;
    height: 100vh;
}

.endings-table {
    background-color: #313131;
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 60%;
    height: 80%;
}

th {
    background-color: #262626;
    border: 1px solid rgb(255, 255, 255);
    font-size: xx-large;
}
td {
    background-color: #262626;
    border: 1px solid rgb(255, 255, 255);
    font-size: larger;
}

.text-box {
    width: 80%;
    display: block;
    margin: auto;
    height: 80%;
    font-size: larger;
}

.inactive {
    display: none;
}

.submit {
    width: 80%;
    display: block;
    margin: auto;
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #424242;
    color: white;
    border: 1px solid white;
}

.submit:active {
    background-color: #262626;
}

.correct {
    background-color: #00cc00;
}

.incorrect {
    background-color: #cc0000;
}

#nouns-button {
    width: 64px;
    height: 64px;
    background-color: #cc0000;
}